.timer-section {
  grid-column: 2;
  grid-row: 3;

  width: 80%;
  margin-left: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 51px;

  box-shadow: 23px 23px 46px #bebebe, -23px -23px 46px #ffffff;
}
.timer-container {
  display: flex;
  justify-content: right;
}
.timer-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 51px;
}
.timer-title {
  font-size: 1rem;
  font-family: "Inter medium", sans-serif;
  text-align: center;
  letter-spacing: 0.2rem;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: capitalize;
  margin: 16px;
}
.timer-button-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.timer-button-block button:active {
  background: #eeeded;
  box-shadow: inset 5px 5px 12px #c7c7c7, inset -5px -5px 12px #f9f9f9;
}
.up {
  margin: 0;
  /* width: 70px; */
  border-radius: 50%;
}
.down {
  margin: 0;
  width: 70px;
  border-radius: 50%;
}
.start {
  margin: 0;
  padding: 8px 10px;
  width: 160px;
 
}
.start-active {
  background-color: rgb(0, 165, 0) !important;
}
.timer-count {
  font-family: "Inter medium", sans-serif;
  font-size: 70px;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  border-radius: 20px;
}
.timer-seconds {
  font-size: 32px;
  margin-left: 14px;
}
