.stopwatch-section {
    grid-column: 2;
    grid-row: 2;
   width: 70%;
   margin-left: 2rem;

 display: flex;
 justify-content: center;
 align-items: center;

   border-radius: 51px;
    background: #e0e0e0;
    box-shadow:  23px 23px 46px #bebebe,
                 -23px -23px 46px #ffffff;
}

.stopwatch-block {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding: 10px 20px;
    
                 
   
}
.stopwatch-block-title {
    text-align: center;
    /* color:white; */
    margin: 0;
    padding: 10px 0;
    text-shadow: 6px 7px 5px rgba(70, 67, 67, 0.3);
}
.stopwatch-table {
    font-family: "LCD", serif;
    font-size: 70px;
   
    font-weight: 400;
    font-family: "LCD";

    border-radius: 20px;
}