.clock-block {
  grid-column-start: 1;
  grid-row: 2/4;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  box-shadow: 23px 23px 46px #BEBEBE, -23px -23px 46px #FFFFFF;
  border-radius: 50px;
    margin-left: 10%;

    
}

.clock-table {
 grid-row: 2/3;

  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}
.date {
  width: 100%;
  font-size: 2rem;
  font-family: "Inter light",sans-serif;
  text-align: justify;
  letter-spacing: 9px;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}
.number-block {
  font-size: 4rem;
  font-family: "Inter medium",sans-serif;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  text-align: center;
  
letter-spacing: 1.4rem;

}


.alarm-block {
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
}
.bell-icon {
  width: 20px;
  border-radius: 10px;
}
.clock-day {
  font-size: 20px;
  font-weight: bold;
  margin-right: 4px;
}
.settings-icon {
  width: 30px;
  background-color: white;
  border-radius: 50%;
  transform: translate(20px, 30px);
  position: absolute;
  cursor: pointer;
  display: none;
}
.bell-icon:hover {
  cursor: pointer;
}
