.clock-block {


}
.clock-container {
    display: flex;
    justify-content: right;
    text-shadow: 1px 2px 8px rgb(54, 50, 50);
     font-size: 3rem;
    position: relative;
}
.clock-table {
  display: flex;
    font-family: "LCD";
   
     margin: 20px 0;
   padding: 20px 20px 20px 20px;
   text-align: center;
   position: relative;
  
   border-radius: 50px;
   background: #e0e0e0;
   box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
  
}
.number-block {

}
.alarm-block {
 display: flex;
 align-items: flex-start;
 margin-left: 10px;
}
.bell-icon {
  width:20px;
  border-radius: 10px;
  
  
}
.clock-day {
  font-size: 20px;
  font-weight: bold;
  margin-right: 4px;
}
.settings-icon {
    width:30px;
    background-color: white;
    border-radius: 50%;
    transform: translate(20px,30px);
    position: absolute;
    cursor: pointer;
    display: none;
}
.bell-icon:hover {
  cursor: pointer;
}


