@media (max-width: 2561px) {
  .clock-block {
    height: 100%;

    .weather-block {
      margin-top: 8%;
      margin-right: 8%;

      .weather-icon {
        width: 70px;
        height: 70px;
      }
      .temperature {
        font-size: 36px;
        margin-top: 12%;
      }
    }
  }
}

@media (max-width: 1981px) {
  .clock-block {
    height: 100%;

    .weather-block {
      margin-top: 8%;
      margin-right: 8%;

      .weather-icon {
        width: 60px;
        height: 60px;
      }
      .temperature {
        font-size: 32px;
        margin-top: 12%;
      }
    }
  }
}

@media (max-width: 1102px) {
  .clock-block {
    height: 100%;

    .weather-block {
      margin-top: 8%;
      margin-right: 8%;

      .weather-icon {
        width: 40px;
        height: 40px;
      }
      .temperature {
        font-size: 20px;
        margin-top: 12%;
      }
    }
  }
  .date {
    font-size: 1.6rem;
  }
  .number-block {
    font-size: 3rem;
    /* letter-spacing: 1.4rem; */
  }

  /* --stopwatch-- */
  .stopwatch-section {
  }
  .stopwatch-block-title,
  .timer-title {
    margin: 0;
    font-size: 0.9rem;
    padding: 10px;
  }
  .button {
    padding: 6px 16px;
    font-size: 18px;
  }
  .stopwatch-table {
    font-size: 50px;
  }

  /* --timer--- */
  .timer-title {
    margin: 0;
    font-size: 0.9rem;
  }
  .up {
    width: 50px;
  }
  .start {
    width: 120px;
  }
  .down {
    width: 50px;
  }
  .timer-count {
    font-size: 50px;
  }
}

/* --760PX-- */
@media (max-width: 760px) {
  .clock-block {
    .weather-block {
      margin-top: 8%;
      margin-right: 8%;

      .weather-icon {
        width: 40px;
        height: 40px;
      }
      .temperature {
        font-size: 22px;
        margin-top: 10%;
      }
    }
  }

  .number-block {
    letter-spacing: 1rem;
  }
  .date {
    font-size: 20px;
    text-align: center;
  }
  .number-block {
    font-size: 46px;
  }
  .button {
    font-size: 14px;
    padding: 4px 10px;
  }
  .stopwatch-table,
  .timer-count {
    font-size: 46px;
  }
  .start {
    width: 80px;
    height: 26px;
  }
  .up,
  .down {
    width: 40px;
  }
}

/* --600px-- */
@media (max-width: 600px) {
  .switch,
  .clock-block,
  .stopwatch-section,
  .timer-section {
    margin: 0;
  }
  .clock-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .switch {
  }
  .slider {
    height: 34px;
  }
  .clock-block {
    width: 80%;

    .weather-block {
      margin-right: 26px;

      .weather-icon {
        width: 36px;
        height: 36px;
      }
      .temperature {
        font-size: 20px;
        margin-top: 10%;
      }
    }
  }
}
/* --346PX--WIDTH */
@media (max-width: 346px) {
  .clock-block {
    height: 40%;

    .weather-block {
      .weather-icon {
        width: 24px;
        height: 24px;
      }
      .temperature {
        font-size: 14px;
        margin-top: 10%;
      }
    }
  }
  .number-block,
  .stopwatch-table,
  .timer-count {
    font-size: 40px;
    padding: 10px 0;
  }
}

/*--HEIGHT--*/
@media (max-height: 418px) {
  .clock-box {
    grid-template-rows: 50px 1fr 1fr 1fr;
  }
}
@media (max-height: 380px) {
  .clock-box {
    row-gap: 8px;
  }
}
