@font-face {
    font-family: "LCD";
    src: url("./font/LCD/lcdbold.ttf");
}
@font-face {
    font-family: "Inter medium";
    src: url("./assets/Inter/Inter-Medium.otf");
}
@font-face {
    font-family: "Inter light";
    src: url("./assets/Inter/Inter-Light.otf");
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: rgba(196, 196, 196, 0.2);
   
  }

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}

.clock-box {
    width: 90%;
    height: 90%;
    box-shadow: 17px 17px 34px #bebebe,
    -17px -17px 34px #ffffff;;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 40px;
    row-gap: 20px;
    
}




