@font-face {
    font-family: "LCD";
    src: url("./font/LCD/lcdbold.ttf");
}

body {
    margin: 0;
    background: url("./images/les_tuman_derevia.jpg") no-repeat 0 0;
    background-size: cover;

}

.body_inner {
    /*width:100%;*/
    /*height: 400px;*/
    /*background-color: red;*/
}
.container {
    max-width:1200px;
    margin: 0 auto;
    }
.App {
    /*background-color: #61dafb;*/
    /* height: 200px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-top: 100px;*/
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    /*background-color: #282c34;*/
    /* min-height: 100vh; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.button {
    margin-right: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    text-shadow: 1px 2px 8px rgb(54, 50, 50);
    box-shadow: 10px 10px 27px -3px rgba(0,0,0,0.75) inset;
    

}

.button:hover {
    background-color: darkgrey;
}

.timer {
    font-family: "LCD", serif;
    font-size: 70px;
    letter-spacing: 16px;
    font-weight: 400;
    margin: 0;
    color: azure;
}