@font-face {
    font-family: "LCD";
    src: url("./font/LCD/lcdbold.ttf");
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #e0e0e0;
  }

.body_inner {
  
}
.container {
    max-width:1200px;
    margin: 0 auto;
    
    }
.App {
   
    display: flex;
    flex-direction: column;
    align-items: center;
   
}



.bg-image {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    filter: blur(14px) brightness(90%);
}



